*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

@import "partials/colors";
@import "partials/header";
@import "partials/layout";

body{
    font-family: 'Sora', sans-serif;
    width: 100%; //largura do body
    height: 100vh; //altura inteira do documento
    position: relative;

    background-color: $primary-normal;
}

button{
    font-family: 'Sora', sans-serif;
    cursor: pointer;
}

svg{
    width: 100%;
}

img{
    width: 100%;
}

a{
    //texto comun
    cursor: pointer;
    text-decoration: none;
}